---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="nav-bar">
    <div class="title-link">
        <a href="/">new to nappies</a>
    </div>
    <div class="nav-links">
        <a href="https://github.com/legitimatefun" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>
