---
import { ViewTransitions } from 'astro:transitions';
import { fade } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<!DOCTYPE html>
<html transition:animate="none" lang="en">
	<head>
        <meta charset="utf-8" />
        <meta name="description" content="First Year with Bub - Real world data on what to expect">
        <meta name="viewport" content="width=device-width" />
        <!-- Open Graph Meta Tags -->
        <!-- og meta -->
        <meta property="og:type" value="website" />
        <meta property="og:title" value="New to Nappies" />
        <meta property="og:description" value="First Year with Bub - Real world data on what to expect" />
        <meta property="og:url" value="https://newtonappies.com/" />
        <!-- twitter meta -->
        <meta name="twitter:card" value="summary" />
        <meta name="twitter:title" value="New to Nappies" />
        <meta name="twitter:description" value="First Year with Bub - Real world data on what to expect" />
        <!-- icons and fonts -->
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap" rel="stylesheet"></noscript>        
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <ViewTransitions />
	</head>
	<body>
        <Header />
        <main transition:animate={fade({ duration: '0.4s' })} >
	    <slot />
            <Footer />
        </main>
        <script>
            function colorMode() {
                if (
                    localStorage.theme === "light" ||
                    (!("theme" in localStorage) &&
                    window.matchMedia("(prefers-color-scheme: light)").matches)
                ) {
                    document.documentElement.classList.add("light");
                } else {
                    document.documentElement.classList.remove("light");
                }
              }
            
            colorMode();
            document.addEventListener('astro:after-swap', colorMode);
        </script>
	</body>
</html>
